azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.30.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
isodate==0.6.1
joblib==1.4.2
msrest==0.7.1
nltk==3.8.1
oauthlib==3.2.2
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.1
