<!DOCTYPE html>
<html>
<head>
    <title>Create Exam</title>
</head>
<body>
    <h1>Create Exam</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <h2>Add PDF:</h2>
        <input type="file" name="exam_pdf">
        <button type="submit">Create Exam</button>
    </form>
    <h2>Load Your Answers:</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="answers" multiple>
        <button type="submit">ANALYZE</button>
    </form>
</body>
</html>
